{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/styles/book.css" />


<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Book Details</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <td>{{ dictionary['title']}}</td>
                    <td>Details</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>ISBN</td>
                    <td><span class="book_info">{{ dictionary['isbn']}}</span></td>
                </tr>

                <tr>
                    <td>Author</td>
                    <td><span class="book_info">{{ dictionary['author']}}</span></td>
                </tr>

                <tr>
                    <td>Language</td>
                    <td><span class="book_info">{{ dictionary['language']}}</span></td>
                </tr>

                <tr>
                    <td>Rating</td>
                    <td><span class="book_info">{{ dictionary['rating']}}</span></td>
                </tr>

                <tr>
                    <td>Description</td>
                    <td><span class="book_info">{{ dictionary['description']}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Cover Page</h2>
        </div>
        <img class="book-img" src="{{ dictionary['coverImg'] }}" alt="">
    </div>
</div>

{% endblock %}