<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookEr</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static' , filename='styles/style.css')}}"
    />
  </head>

  <body>
    <!--HEADER DESIGN-->

    <header class="header">
      <a href="#" class="logo">BookER</a>
      <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">AboutUS</a>
        <a href="{{url_for('login')}}">SignIn</a>
        <a href="#footer">ContactUs</a>
      </nav>
    </header>

    <section class="home" id="home">
      <div class="homme">
        <h1 class="head" data-text="BookER">BookER</h1>
        <div class="content"> 
          <h3 class="about">The AI Book Recommendation Tool</h3>
        <p>
          BookER is a website that uses user-inputted data to recommend books.
          Using Scikit learn, books that the user may like, based on their
          preferences, will be recommended to them.
        </p>
      </div>
    </section>

    <section class="footer" id="footer">    
        <h3>Contact us</h3>
        <p>Email:pradyumn31415@gmail.com</p>
        <p>Phone:+91 7511122973</p>
  </section>
  </body>
</html>
