{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/styles/book.css" />

<div class="details">
    <div class="Bookdetails">
        <div class="cardHeader">
            <h2> Sign in</h2>
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: #ff0000;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: #ff0000;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        <span>
            New User? <a href="{{ url_for('register') }}">Click to Register!</a>
        </span>
    </div>

</div>

{% endblock %}